*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 85%;
    margin: 0 auto;
}

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(images/headerbg.png);
    background-position: center;
    background-size: cover;
}

.nav{
    background-color: black;
    padding: 20px 0px;
}

.logo{
    float: left;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 100;
    letter-spacing: 1px;
}

.main-nav{
    float: right;
}

.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    display: inline;
}

.main-nav ul li a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 100;
    letter-spacing: 1px;
    transition: all 1s;
}

.main-nav ul li a:hover{
    color: yellowgreen;
}

.hero{
    width: 80%;
    margin: 100px auto 0 auto;
    text-align: center;
}

.hero h1{
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

hr{
    width: 50%;
    border: solid 1px #61c2f7;
    margin: 20px auto;
}

.hero p{
    font-size: 18px;
    margin: 25px 25%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.hero  a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #61c2f7;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.design{
    text-align: center;
    padding: 30px 0;
    background-color: #eee;
}

.design h2{
    font-size: 36px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.design p{
    font-size: 18px;
    color: rgb(104, 104, 104);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin-top: 30px;
}

.icons{
    padding: 50px 0px;
}

.row{
    width: 90%;
    margin: auto;
}

.icon{
    float: left;
    width: 30%;
    margin-right: 30px;
    text-align: center;
}



.icon h3{
    font-family: Arial;
    letter-spacing: 1px;
    color: black;
}

.icon p{
    font-size: 18px;
    color: #828282;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery{
    padding: 50px 0px;
}

.info{
    text-align: center;
}

.info h2{
    font-size: 36px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.info p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #828282;
    margin-bottom: 25px;
}

.x-row{
    width: 100%;
}

.x-row .item{
    width: 31%;
    margin: 1%;
    float: left;
    position: relative;
}

.x-row .item img{
    width: 100%;
}




.contact{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(images/contactbg.png);
    background-size: cover;
    height: 650px;
    padding: 60px 0;
    position: relative;
}



.contact-info{
    text-align: center;
    margin-top: 100px;
}

.contact-info h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.contact-info p{
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.contact-form{
    width: 600px;
    text-align: center;
    margin: 20px auto;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea{
    width: 600px;
    padding: 15px;
    margin-bottom: 15px;
    background: transparent;
    display: block;
    border: 1px solid #ccc;
    color: white;
}

.contact-form span{
    background: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    margin-left: 40px;
    color: white;
    float: left;
}

.contact-form input[type=checkbox]{
    margin-right: 20px;
}

.contact-form input[type=submit]{
    background: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    border: solid 1px #61c2f7;
}
.footer {
    height: 100px;

}
.pic{
    width: 50px;
    height: 50px;
    float: right;
    margin: 10px;
    border-radius: 10px;
}

@media(max-width:773px){
    .container{
    width: 60%;
    margin: 0 auto;
    }

    .nav{
        background-color: black;
        padding: 17px 0px;
    }
    .logo a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial;
    font: weight 70px;;
    letter-spacing: 1px;
    }
    .main-nav ul li a{
    text-decoration: none;
    margin-right: 13px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 70px;
    letter-spacing: 1px;
    transition: all 1s;
    }
    .hero{
    width: 60%;
    margin: 80px auto 0 auto;
    text-align: center;
    }
    .hero h1{
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    }
    hr{
    width: 25%;
    border: solid 1px #61c2f7;
    margin: 20px auto;
    }
    .hero p{
    font-size: 16px;
    margin: 20px 20%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    }

    .hero  a{
        text-decoration: none;
        color: #fff;
        padding: 8px 16px;
        border: solid 1px #61c2f7;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .design{
    text-align: center;
    padding: 25px 0;
    background-color: #eee;
    }
    .design h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

}